* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


nav {
    display: flex;
    box-shadow: 0px 6px 6px rgba(41, 41, 41, 0.5);
    width: 100%;
    z-index: 2;
    align-items: center;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.img-con {
    width: 50%;
}

.logo img {
    margin: 1.5rem;
}

nav ul {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav li {
    list-style: none;
}

nav a:hover {
    color: green;
}

/* Home */

#home {
    height: 100vh;
    width: 100%;
    margin-top: 1rem;
}

.home-img {
    height: 100%;
    position: relative;
    z-index: 1;
}

.home-img img {
    height: 100%;
    width: 100%;
    display: block;
}

.home-form {
    position: absolute;
    width: 25%;
    /* border: 1px solid black; */
    padding: 1rem;
    background-color: rgb(30, 50, 30);
    color: #fff;
    border-radius: 1rem;
    top: 9rem;
    z-index: 3;
    right: 1rem;
}

.home-form h2,
.home-form h1,
.home-form p {
    padding: 0.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input,
.form button {
    padding: 1rem;
    border-radius: 1rem;
    margin: 0.5rem;
    outline: none;
    border: none;
}

.form input {
    width: 80%;
}

.form button {
    cursor: pointer;
    width: 30%;
    background-color: rgb(129, 188, 40);
    font-weight: bold;
    /* color: #fff; */
}

.form button:hover {
    background-color: rgb(191, 242, 115);
}

/* floor */
#floor {
    height: 100vh;
}

#floor h1 {
    text-align: center;
    color: green;
    font-weight: bold;
    padding-top: 1rem;
}

.floor-container {
    height: 90vh;
    margin-top: 2rem;
    display: flex;
    justify-content: center;

}

.floor-card {
    height: 450px;
    width: 30vw;
    border: 1px solid rgb(147, 146, 146);
    margin-right: 2rem;
    border-radius: 1rem;

}

.floor-card img {
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    object-fit: contain;
    object-position: center;
}

.floor-card h4 {
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
    background-color: green;
    border-radius: 1rem;
    padding: 0.5rem;
    color: white;
}

/* Location */

#location {
    /* height: 100vh; */
    width: 100%;
    margin-top: 2rem;
    background-color: rgb(197, 243, 197);
}

#location h1 {
    text-align: center;
    color: green;
    font-weight: bold;
    padding-top: 2rem;

}

.location-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 2rem;
}

.item {
    text-align: center;
    padding: 1rem;
}

.item h2 {
    margin-top: 2rem;
    color: green;
}

.grid {
    background-color: rgb(197, 243, 197);
    width: 100%;
    margin-top: 2rem;

}

.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
    grid-template-rows: repeat(3, auto);
    width: 100%;
    gap: 30px;
    margin: 0 auto;
    padding: 2rem;
}

.grid-container img {
    height: 100%;
    width: 100%;
    border: 15px solid white;
    border-radius: 0.8rem;
}

#item-1 {
    grid-row-start: 1;
    grid-row-end: 4;
}

#item-4 {
    grid-row-start: -4;
    grid-row-end: -1;
    grid-column-start: 4;
    grid-column-end: -1;

}

.grid-item {
    padding: 1.5rem;
}

.grid-item h3 {
    font-weight: bold;
    text-align: center;
}

.grid_item li {
    padding: 1rem;
}

.grid-item button {
    padding: 0.8rem;
    border-radius: 0.8rem;
    outline: none;
    border: none;
    background-color: black;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    display: block;
    /* Make the button a block-level element */
    margin: 0 auto;
    width: 50%;
}

.grid-item button:hover {
    background-color: rgb(24, 23, 23);
}

#item-3,
#item-5,
#item-8 {
    background-color: rgb(161, 232, 201);
    border-radius: 0.8rem;
}

#item-5 li,
#item-8 li,
#item-3 li {
    padding: 0.5rem;
    font-weight: bold;
}

/* About */

#about {
    height: 100vh;
    width: 100%;
    /* margin-top: 2rem; */
    background-color: rgba(205, 243, 162, 0.64);
}

#about h1 {
    text-align: center;
    color: green;
    font-weight: bold;
    padding-top: 2rem;

}

.about-container{
    display: flex;
    padding-top: 2rem;
}

.about-img, .about-desc{
    width: 50%;
}

.about-img, .about-desc{
    padding: 1rem;
}

.about-img img{
    height: 100%;
    width: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 1rem;
}


.about-desc{
    display: flex;
}

.about-desc p{
    align-self: center;
    line-height: 2.15rem;
}

/* Contact */
#contact{
    height: 100vh;
    width: 100%;
}

#contact h1 {
    text-align: center;
    color: green;
    font-weight: bold;
    padding-top: 2rem;

}

.contact-container{
    display: flex;
    margin: 1rem;
}

.map, form{
    width: 50%;
}

.map{
    display: flex;
}

.map iframe{
    align-self: center;
}

.input-form{
    display: flex;
    flex-direction: column  ;
    margin-bottom: 1rem;
}

.input-form label{
    margin-left: 0.2rem;
}

.input-form input, .input-form textarea{
    padding: 0.5rem;
    border-radius: 1rem;
    outline:none;
    border: 1px solid green
}

.form-btn{
    display: flex;
    width: 100%;
    justify-content: center;
}

.form-btn button{
    width: 30%;
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    background-color: rgb(10, 196, 10);
    color: #fff;
    font-weight: bold;
}


/* footer  */